.grid{
    display: grid;
    column-gap: 1rem;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto 200px;
}
.about{
    margin-top: 3rem;
    img{
        width: 100%;
        border-radius: 10px;
        border: 2px solid greenyellow;
    }
    p{
        font-size: 1.2rem;
        text-align: center;
        color: rgb(78, 67, 67);
    }
}
h2{
    font-size: 2rem;
    text-align: center;
    padding: 2rem 0;
    color:rgb(93, 99, 93) ;
    font-weight: 500;
}

.about-heading{
    text-align: center;
    font-size: 2.5rem;
    padding-top: 5rem;
    color: yellowgreen;
    font-weight: 600;
}