html{
    font-size: 16px;
}
*,
*::before,
*::after{
    box-sizing: border-box;
}
.container{
    width: 1200px;
   max-width: 100%;
    margin: 0 auto;
}
body{
    font-size: 1.4rem;
    line-height: 1.5;
    background-color: rgb(197, 211, 206);
}
.margin{
    margin-top: 10rem;
}
// flex
.flex{
    display: flex;
    justify-content: space-between;
}
.justify-around{
    justify-content: space-around;
}
a{
    text-decoration: none;
    color: white;
    &:hover{
        color: greenyellow;
        transform: scale(1.2);
    }
}
li{
    text-decoration: none;
    margin-left: 2rem;
    &:hover{
        transform: scale(.9);
    }
}

.btn{
    width: 220px;
    height: 80px;
    border-radius: 40px;
    border: 1px solid rgb(117, 165, 29);
    text-align: center;
    padding: .5rem 1.5rem;
}
.grid-2{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2rem;
    grid-template-rows: repeat(auto,250px);
    padding-top: 2rem;
    img{
        border-radius: 10px;
        border:2px solid chartreuse;
    }
}








// media quiry
@media (max-width:768px) {
    html{
        font-size: 10px;
    }
    .container{
            width: 720px;
            margin: 0 auto;
            padding: 1rem 2rem;
        }
    label.logo{
        font-size: 30px;
        padding-left: 30px;
    }
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color:#2c3e50 ;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 16px;

    }
    a:hover{
        background: none;
        color: #0082e6;

    }
    #check:checked ~ ul{
        left: 0;

    }
        .grid{

            display: grid;
            grid-template-columns: repeat(1,1fr);
        }
        .grid-2{

            display: grid;
            grid-template-columns: repeat(1,1fr);
            // padding: 0 2rem;
        }
        .flex{
            display: flex;
            flex-direction: column;
            justify-items: center;
        }
        img{
            width: 100%;
        }
    
    
}
